
################################## Cluster ####################################

network.host: _non_loopback:ipv4_
bootstrap.mlockall: true

#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):
path.conf: {{ elasticsearch_etc_directory }}

path.data: {{ elasticsearch_data_directory }}

path.work: {{ elasticsearch_work_directory }}

path.logs: {{ elasticsearch_log_directory }}

path.plugins: {{ elasticsearch_plugin_directory }}
