# {{ ansible_managed }}
description "ElasticSearch Service"
author "Donovan Francesco <donovan.francesco@is.co.za>"

start on (net-device-up
          and local-filesystems
          and runlevel [2345])

stop on runlevel [016]

respawn
respawn limit 10 5

# Change directory to service users home
chdir "{{ elasticsearch_system_user_home }}"

# Pre start actions

setuid {{ elasticsearch_system_user_name }}
setgid {{ elasticsearch_system_group_name }}

limit nofile {{ elasticsearch_max_open_files }} {{ elasticsearch_max_open_files }}

pre-start script
  mkdir -p {{ elasticsearch_pid_directory }}
  chown {{ elasticsearch_system_user_name }}:{{ elasticsearch_system_group_name }} {{ elasticsearch_pid_directory }}

  mkdir -p "/var/lock/{{ elasticsearch_program_name }}"
  chown {{ elasticsearch_system_user_name }}:{{ elasticsearch_system_group_name }} "/var/lock/{{ elasticsearch_program_name }}"

end script
post-stop script
  rm "{{ elasticsearch_pid_directory}}/{{ elasticsearch_program_name }}.pid"
end script
script
set -a 
if [ -f /etc/default/{{ elasticsearch_program_name }} ]; then
    . /etc/default/{{ elasticsearch_program_name }}
fi
# Run the start up job
exec start-stop-daemon --start \
                       --chuid {{ elasticsearch_system_user_name }} \
                       --make-pidfile \
                       --pidfile {{ elasticsearch_pid_directory}}/{{ elasticsearch_program_name }}.pid \
                       --exec {{ elasticsearch_bin }}
end script
